html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}

a {
  text-decoration: none;
}

header {
    height: 65px;
    width: 100%;
    background-color: burlywood;
}

.header-right {
    float: right;
}

.main {
  text-align: center;
  padding: 25%;
}

.logo-search {
  display: block;
}

.contact-submit {
  margin-right: 20px;
}

.searchbar {
  width: 75%;
}